<header>
    <h1 class="logo"><a href="/">ArmBlog</a></h1>
    <nav>
        <ul class="nav-menu">
            <li class="nav-item"><a href="/">Blogs</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
            <li class="nav-item"><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
</header>