<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <div>
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, explicabo molestiae 
            tempora exercitationem distinctio vero eos! Nobis quam consectetur, cum, doloribus i
            ste ratione voluptates suscipit est ipsum alias esse ea at animi nam porro cumque qu
            os omnis tenetur consequuntur perferendis exercitationem voluptate id illum repellat
            . A molestiae suscipit cum atque saepe eum inventore, nisi facilis laboriosam cumque
            vitae delectus est dignissimos alias esse beatae officia ipsam qui placeat. Accusan
            tium deserunt amet ut tempora, quas dolore reiciendis dolor veritatis repudiandae, 
            ratione dignissimos, cumque voluptatum autem! Qui adipisci veritatis corporis perspi
            ciatis, eius temporibus fugiat distinctio quaerat maxime non omnis odio nemo ducimus    
            , nam quia earum fugit, sed facilis? Velit veritatis unde, labore autem quos vero a  
            iquam? Vero officiis optio molestias excepturi corporis consequuntur a distinctio. A
            speriores doloremque nulla consectetur animi reiciendis. Nemo mollitia harum tempore
            ? Reprehenderit nam ipsam ratione non? Porro reiciendis vero a sit aliquam vitae opt
            io magnam nesciunt mollitia. Ullam.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>